body{
    background-image: url('../media/img/canvas.jpg');
    color: white;
}


h1{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 700%;
    font-weight: 10;
}

p{
    display: flex;
    align-content: center;
    justify-content: center;
        font-size: 105%;
    font-weight: 10;
}

#bold{
    font-weight: bold;
}