body{
    background-image: url('../media/img/canvas.jpg');
    color: white;
    margin: 3%;
}

h1{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 700%;
    font-weight: 10;
}

ul{
    list-style: none;
       display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
        font-size: 105%;
    font-weight: 10;

}

a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: gray;
}

#copyr{
    display: flex;
    align-content: center;
    justify-content: center;
    
}