body{
    background-image: url('../media/img/canvas.jpg');
    color: white;
    margin: 3%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: gray;
}