body{
    background-image: url('../media/img/canvas.jpg');
    font-style: "pacifico","cursive"
}
h1{
    font-size: 1000%;
    font-weight: 150;
    font-style: "pacifico","cursive";
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none;
    text-decoration: none;

}
p{ 
    margin: 10%;
    font-size: 130%;
    padding: 0;
    display: flex;
    align-items: center;
    align-content: center;
    border: 2px;
    border-color: dimgray;
    color: rgb(255, 2555, 255,0.91);
}


#img_container{
    
     display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-items: center;
   

}
#img_grid{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 30px;
}
/*
img{
    height: 100%;
    width: 60%;
    background-size: cover;
    border-radius: 30px;
    

}

.images{
  display: flex;
    align-content: center;
    border-radius: 30px;

}*/

.images{
    min-width: 400px;
    min-height: 400px;
    display: flex;
    cursor: pointer;
    align-content: center;
    justify-content: center;
    border: 3px,solid, black;
    transition: border 0.7s;
    background-image: url("../media/img/1.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    font-size: 200%;

}
.images:hover{
    border: 3px,solid, gray;

}

#img3{
    grid-column: 2 / 4;
}
a{
    text-decoration: none;
}


hr{
    width: 95%;
}

#copyr{
    display: flex;

    justify-items: center;
    align-items: center;
    text-decoration: underline;
    text-decoration-color: aliceblue;
}
