body{
    background-image: url('../media/img/canvas.jpg');
}
h1{
    font-size: 1000%;
    font-weight: 150;
    font-style: normal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none;
    text-decoration: none;

}
p{ 
    margin: 10%;
    font-size: 130%;
    display: flex;
    align-items: center;
    align-content: center;
    border: 2px;
    border-color: dimgray;
    color: rgb(255, 2555, 255,0.91);
}
