body{
    background-image: url('../media/img/canvas.jpg');
    color: whitesmoke;
}
#heading{
    font-size: 20px;
}
label{
    text-decoration: none;
    color: rgb(210, 210,210,1);
}


#form_holder{
    height: 60%;

    width: 60%;
    background-color: black;
    border: 1px;
    border-radius: 30px;
    padding: 30px;
}

#form_container{
    display: grid;
    justify-content: center;
    align-content:center;

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
}

#name_id_label{
    grid-column: 1/2 ;
    grid-row: 1/2;
}


#email_id_label{
     grid-column: 1/2 ;
    grid-row: 2/3;
}


#phone_label_id{
    grid-column: 1/2 ;
    grid-row: 3/4;
}

#name{
    grid-column: 2/4 ;
    grid-row: 1/2;
}
#email{
    grid-column: 2/4 ;
    grid-row: 2/3;
}
#phone{
    grid-column: 2/4;
    grid-row: 3/4;
}


#button{
    grid-column: 2/3;
    grid-row: 5/6;

    display: flex;
    justify-self: right;
    align-items: center;
    align-content: end;
}



.input{
    border: 1px solid gray;
    border-radius: 30px;
    padding: 10px;
    font-weight: 200;
    field-sizing: content;
}

#Tel{
    width: 20%;
}

#Email{
    width: 25%;
}
input{
    background-color: rgb(10, 10,10,0.1);
    color: rgba(246, 246, 246, 0.921);
    width: 60%;
    height: rel;
}

/*.textarea{

    border-radius: 5px;
    margin: 30px;
    border: 0;
    height: auto;
    transition: border 0.2;
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    padding: 10px;
    font: inherit;
    overflow: hidden;
    resize: none;
    cursor: progress;
    background-color: gray;
    border-color: white;
    color: white;

    grid-column: 2/4;
    grid-row: 4/5;
}*/

#textarea_holder{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}


#text_area_label{
    width: 100%;
    height: 100%;
    grid-row: 4/5;
    grid-column: 1/2;
}
#textarea{
    grid-column: 2/4;
    grid-row: 1/3;

    field-sizing: content;
    padding: 10px;
    font-size: 15px;
    max-width: 60%;
    height: 100%;
}
#textarea:hover{

}
#text_area_label{
     grid-column: 1/3;
    grid-row: 1/2;

}

button{
    display: flex;
    justify-self: end;
    color: white;
    background-color: grey;
    border-radius: 30px;
}