<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel="stylesheet" href="../style/main.css">
    <title>SoftCode</title>
</head>

<body>
    <h1>SoftCode</h1>
    <p>a software development agency created with the purpose of helping you bring your dream software to reality 
        ,
    </p>
    <div class="swapping_container">
    <div class="swapping_img">
        <div class="img_item"><img src="../media/img/1.png"></div>
        <div class="img_item"><img src="../media/img/2.png"></div>
    </div></div>


</body>

</html>