<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel="stylesheet" href="../style/main.css">
    <title>SoftCode</title>
</head>

<body>
    <h1>SoftCode</h1>
    <p>a software development agency created with the purpose of helping you bring your dream software to reality 
    ,At Softcode, We transform bold ideas into robuste, scalable solutions that propel bussiness forward,
    </p>

    <div id="img_container">
        <div id="img_grid">
        <div class="img_item"><a href="contact.html" class="images" id="img1" ><div class="images" id="img1"> <p id="contact">Contact</p></div></a></div>
        <div class="img_item" id="img3"><a href="services.html" class="images" id="img3"><div class="images" id="img3"><p id="services">Services</p></div></a></div>
        <div class="img_item"><a href="about_us.html" class="images" id="img2"><div class="images" id="img2"><p id="about us">About us</P></div></a></div>
</div></div>


   <footer><p id="copyr">2025 &copy; Softcode all rigth reserved</p></footer>


</body>

</html>