<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel="stylesheet" href="../style/services.css">
    <title>SoftCode</title>
    <link >
</head>
<script src="../script/service.js"></script>


<body>
<form id="service-form">
    <h1>Get in Touch</h1>
    <p> Let's discuss your project requirement</p>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div class="form-group">
        <label for="Email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="Phone">Tel:</label>
        <input type="tel" id="phone" name="phone" required>
    </div>

    <div class="form-group">
        <label for="project_description">Project Description:</label>
        <textarea name="project_description" id="textarea" required></textarea>
    </div>

    <button type="submit">Get a Quote</button>

</form>
</body>
</html>